
.card{
    position: relative;
    height: 32rem;
    width: 64rem;
}

.card > div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front{
    transform: perspective(80rem) rotateY(0deg);
}

.card .back{
    transform: perspective(80rem) rotateY(180deg);
}

.card.flipped .front {
    transform: perspective(80rem) rotateY(-180deg);
}

.card.flipped .back {
    transform:perspective(80rem) rotateY(0deg);
}